/* Dark mode colors. */
:root {
	--sl-color-accent-low: #002d0a;
	--sl-color-accent: #24b064ff;
	--sl-color-accent-high: #a2d9a7;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e9f0e9;
	--sl-color-gray-2: #c4cdc4;
	--sl-color-gray-3: #97a898;
	--sl-color-gray-4: #4d5d4e;
	--sl-color-gray-5: #2e3d2f;
	--sl-color-gray-6: #1d2b1e;
	--sl-color-black: #141a14;
	--sl-text-h2: var(--sl-text-3xl);
	--sl-text-h3: var(--sl-text-2xl);
	--sl-text-h4: var(--sl-text-1xl);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #bae4bd;
	--sl-color-accent: #24b064ff;
	--sl-color-accent-high: #003e11;
	--sl-color-white: #141a14;
	--sl-color-gray-1: #1d2b1e;
	--sl-color-gray-2: #2e3d2f;
	--sl-color-gray-3: #4d5d4e;
	--sl-color-gray-4: #809181;
	--sl-color-gray-5: #bcc5bc;
	--sl-color-gray-6: #e9f0e9;
	--sl-color-gray-7: #f4f7f4;
	--sl-color-black: #ffffff;
}

.sl-markdown-content .inline-icon {
	display: inline;
}

:root {
	--sl-sidebar-width: 20rem;
	--sl-content-width: 65rem;
	--sl-text-6xl: 3rem;
}

img {
	display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.sl-markdown-content > ol :where(ul) li,
.starlight-aside__content ul li,
.sl-markdown-content > ul li {
	list-style-type: circle;
	margin-left: 2rem;
}

.sl-markdown-content > ol :where(ul) li {
	list-style-position: inside;
}

.sl-markdown-content > ul li ul {
	padding-left: 2rem;
}

.tablist-wrapper > ul li {
	list-style-type: inherit;
	margin-left: inherit;
}

.expressive-code .copy .no-copy button  { display: none; }

.inline-code code:not(:first-child):not(:last-child) {
	padding-left: 0;
	padding-right: 0;
}

.inline-code code:first-child {
	padding-right: 0;
}

.inline-code code:last-child{
	padding-left: 0;
}